body{
	margin-left: 50px;
	background-color: lightgreen;
}

.header{
	color: red;
}

.corp{
	background-color: lightgray;
	border: solid;
}

.footer{
	border:solid;
	background-color: gray;
	margin-top: 30px;
}

.tabledesmatieres{
	margin-bottom: 30px;
}

.champ{
	margin-bottom: 10px;
}


.quisommesnous{

}

.noussoustenir{

}

.nousrejoindre{

}

.nouscontacter{

}

.evenement{

}

.formulaire{
	display: inline-flex;
}




.sous-titre{
	color: blue;
}

.sous-titre2{
	text-decoration: underline;
}

@media screen and (min-width: 700px) {
	.titre{
		font-size: 60px;
	}

	.tabledesmatieres{

	}
	
	.sous-titre{
		font-size: 40px; 
	}
	
	.sous-titre2{
		font-size: 25px;
	}
	
	
	.text{
	  font-size: 20px;
	}
}


@media screen and (max-width: 700px) {
	.titre{
		font-size: 40px;
	}

	.tabledesmatieres{
		
	}
	
	.sous-titre{
	    font-size: 20px;
	}
	
	.sous-titre2{
	   font-size: 15px;
	}
	
	
	.text{
	   font-size: 13px;
	}
}
